{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_home_page.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/owl.svg' %}"/> 
</head>

<body>

    <!-- -->
    <!-- INICIA EL HEADER -->
    <div class="row" >
        <div class="header col-12">
            <a href="{% url 'home_page' %}" class="top-menu"><img src="{% static 'img/owl.svg' %}" alt="Buho" class="img-buho"></a>
            <a href="{% url 'home_page' %}" class="top-menu"><h1>Universidad de Sonora</h1></a>
        </div>
    </div>
    <!-- TERMINA EL HEADER  -->
    {% block content %}
    {% endblock %}
    <!-- INICIA EL FOOTER -->
    <footer class="fixed-bottom footer">
        <p>Aqui estaria el footer</p>
        
    </footer>
     <!-- TERMINA EL FOOTER  -->
</body>

</html>