{% extends 'core/base.html' %}
{% block content %}
<!-- INICIA EL POST-HEADER -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4"><h2> <br>Bienvenido!</br></h2></div>
        <div class="col-12 col-md-4"><button class="btn main-btn">Inicia Sesion</button></div>
        <div class="col-12 col-md-4"><button class="btn main-btn">Ver lista de servicios</button></div>
    </div>
</div>
<!-- TERMINA EL POST-HEADER  -->

<!-- INICIA EL CARROUSEL -->
<div class="carrousel ">
    <p>Aqui estaria el carrousel</p>
</div>
<!-- TERMINA EL CARROUSEL  -->
{% endblock %}